<form action="/new_stock" role="form" class="form-horizontal" id="new-stock" method="POST">
  <div class="form-group">
    <label class="control-label col-lg-3">Product</label>
    <div class="col-lg-7">
      <select onchange="loadIncomingStock(this)" name="stock[product_id]" class="form-control" tabindex="8" required>
        <option value="">Select Product</option>
        <% @products.each do |product| %>
          <option id="<%= product.product_id %>" value="<%= product.product_id %>"><%= product.name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-lg-3" for="quantity">Quantity(in)</label>
    <div class="col-lg-7">
      <input type="text" name="stock[quantity]" class="form-control" placeholder="Quantity" id="quantity" required/>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-lg-3" for="date_stock_added">Date stock added</label>
    <div class="col-lg-7">
      <input type="text" name="stock[date]" class="form-control datepicker" placeholder="Date stock added" id="date_stock_added" required/>
    </div>
  </div>


  <div class="form-group modal-footer">
    <label class="control-label col-lg-3" for="">&nbsp;</label>
    <div class="col-lg-7">
      <input class="btn btn-primary " type="submit" value="Create Stock"/>
    </div>
  </div>


</form>

<div class="well" id="incomingStocks" style="background-color: lightyellow; display: none;">
<p>Please wait....</p>
</div>


<script type="text/javascript">
    var product_id = "<%= params[:product_id] %>";
    var selection_option = document.getElementById(product_id);
    if (selection_option) {
        selection_option.selected = true;
    }

    window.onload = function () {
        jQuery('.dashboard-menu-nav-header').removeClass('collapsed');
        jQuery('.dashboard-menu').addClass('in');
        jQuery('.new_stock').addClass('active');
        $(".datepicker").datepicker({uiLibrary: 'bootstrap', format: 'dd/mm/yyyy', startDate: '-3d'});
    }

    function loadIncomingStock(obj) {
        product_id = obj.value;
        jQuery.ajax({
            type: "GET",
            url: "/get_incoming_stock",
            data: "product_id=" + product_id,
            beforeSend: function () {
                jQuery("#incomingStocks").show();
            },
            success: function (result) {
                var html = "<h2>Incoming stock</h2>"
                html += "<table class='table'><thead><tr><th>Date in</th><th>Quantity</th></tr></thead>";
                html += "<tbody>";
                for (var i = 0; i <= result.length - 1; i++) {
                    var date_in = result[i]["date_in"];
                    var quantity = result[i]["quantity"];
                    html += "<tr>";
                    html += "<td>" + date_in + "</td>";
                    html += "<td>" + quantity + "</td>";
                    html += "</tr>"
                }
                html += "</tbody>";
                html += "</table>";
                jQuery("#incomingStocks").html(html);

            }

        });
    }

</script>