
<div class="panel panel-default">
  <p class="panel-heading">Reports</p>
  <div class="panel-body">
    <div class="row" style="text-align: center;">
      <div class="pull-left unstyled col-sm-4 col-md-4">
        <p><a href="/incoming_stock_report" class="btn btn-success" style="width: 200px;">Incoming stock</a></p>
        <p><a href="/products_with_enough_stock_report" class="btn btn-success" style="">Products with enough stock</a></p>
      </div>
      <div class="pull-left unstyled col-sm-4 col-md-4">
        <p><a href="/outgoing_stock_report" class="btn btn-success" style="width: 160px;">Outgoing stock</a></p>
        <p><a href="/products_not_in_stock_report" class="btn btn-success" style="+;">Products not in stock</a></p></div>
      <div>
        <p><a href="/products_running_out_of_stock_report" class="btn btn-success" style="">Products running out of stock</a></p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>