<!-- Modal -->
<div class="modal fade" id="debtPaymentPeriodModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Debt payment period in days</h4>
      </div>
      <div class="modal-body">
        <form action="#" role="form" class="form-horizontal" id="debtPaymentPeriodForm">
          <div id="daysError" class="alert-error text-center" style="color: red; font-weight: bold;"></div>
          <div class="form-group">
            <label class="control-label col-lg-5" for="username"><strong>Debt payment period in days</strong></label>
            <div class="col-lg-7">
              <input type="text" name="days" class="form-control" placeholder="Days" id="days" required/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="debtPaymentPeriodButton" onclick="updateDebtPaymentPeriodInDays();" type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked admin-menu">
        <li class="active"><a href="" data-target-id="profile">Recommended debt payment period</a></li>
        </li>
      </ul>
    </div>

    <div class="col-md-7  admin-content" id="profile">
      <div class="panel panel-info" style="margin: 1em;">
        <div class="panel-heading">
          <h3 class="panel-title">Debts should be paid within</h3>
        </div>
        <div class="panel-body">
          <span class="text-danger h3 center-block">
            <% unless @debt_payment_period.blank? %>
              <span id="debtPeriod"><%= @debt_payment_period %> days</span>
            <% else %>
              <span id="debtPeriod">NOT SET</span>
            <% end %>
          </span>
          <br/>
          <button onclick="showDebtPaymentPeriodPopup();" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var navItems = $('.admin-menu li > a');
        var navListItems = $('.admin-menu li');
        var allWells = $('.admin-content');
        var allWellsExceptFirst = $('.admin-content:not(:first)');
        allWellsExceptFirst.hide();
        navItems.click(function (e) {
            e.preventDefault();
            navListItems.removeClass('active');
            $(this).closest('li').addClass('active');
            allWells.hide();
            var target = $(this).attr('data-target-id');
            $('#' + target).show();
        });

        $('#debtPaymentPeriodForm').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                jQuery('#debtPaymentPeriodButton').click();
                return false;
            }
        });
    });

    function showDebtPaymentPeriodPopup() {
        jQuery('#debtPaymentPeriodModal').modal({backdrop: 'static', keyboard: false});
        jQuery('#debtPaymentPeriodModal').on('shown.bs.modal', function () {
            jQuery('#days').focus();
            jQuery('#days').val("");
        });
    }

    function updateDebtPaymentPeriodInDays() {
        var days = document.getElementById("days").value.trim();
        if (days.length == 0) {
            jQuery("#daysError").html("Please input a number");
            return false
        }

        if (!isNumeric(days)) {
            jQuery("#daysError").html("Please input a valid number");
            return false
        }

        if (parseInt(days) <= 0) {
            jQuery("#daysError").html("Invalid input. Minimum is 1");
            return false
        }

        if (!isPositiveInteger(days)) {
            jQuery("#daysError").html("The number is not a positive integer");
            return false
        }

        jQuery.ajax({
            type: "POST",
            url: "/update_settings",
            data: "property=debt.payment.period&value=" + days,
            beforeSend: function () {
                jQuery("#debtPaymentPeriodButton").attr("disabled", true);
                jQuery("#debtPaymentPeriodButton").html("Please wait..")
            },
            success: function (result) {
                console.log(result);
                jQuery("#debtPaymentPeriodButton").removeAttr("disabled");
                jQuery("#debtPaymentPeriodButton").html("Update");
                jQuery('#debtPaymentPeriodModal').modal("hide");
                jQuery("#debtPeriod").html(days + " days");
                //jQuery("#productDetailsShotsClose").html(html);
            }

        });
    }

    function isPositiveInteger(s) {
        return /^\+?[1-9][\d]*$/.test(s);
    }

    function isNumeric(num) {
        return !isNaN(num)
    }
</script>