<div class="panel panel-default">
  <div class="panel-body" style="background-color: lightyellow">
    <form action="#" role="form" class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-lg-3">Products</label>

        <div class="col-lg-7">
          <select id="product_id" name="product_id" class="form-control" tabindex="8">
            <option value="all">All</option>
            <% @products.each do |product| %>
              <option id="<%= product.product_id %>" value="<%= product.product_id %>"><%= product.name %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-3" for="start_date">Date</label>
        <div class="col-lg-7">
          <input type="text" name="date" class="form-control datepicker" placeholder="Date" id="date"/>
        </div>
      </div>

      <!--<div class="form-group">
        <label class="control-label col-lg-3" for="start_date">Start date</label>
        <div class="col-lg-7">
          <input type="text" name="start_date" class="form-control datepicker" placeholder="Start date" id="start_date"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-3" for="start_date">End date</label>
        <div class="col-lg-7">
          <input type="text" name="end_date" class="form-control datepicker" placeholder="Start date" id="end_date"/>
        </div>
      </div>-->


      <div class="form-group">
        <label class="control-label col-lg-3" for="">&nbsp;</label>
        <div class="col-lg-7">
          <input onclick="loadReport()" class="btn btn-primary" value="Generate Report"/>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body" id="report">

  </div>

</div>

<script type="text/javascript">


    window.onload = function () {
        $(".datepicker").datepicker({
            uiLibrary: 'bootstrap',
            format: 'dd/mm/yyyy',
            startDate: '-3d',
            todayHighLight: true
        });
    };

    function downloadPDFReport() {
        var product_id = document.getElementById("product_id").value;
        var date = document.getElementById("date").value;
        window.location = "/print_sales_report_printable?product_id=" + product_id + "&date=" + date
    }

    function loadReport() {
        var product_id = document.getElementById("product_id").value;
        var date = document.getElementById("date").value;

        var downloadButton = '<button onclick="downloadPDFReport();" class="btn btn-primary"><i class="fa fa-download"></i> Download pdf</button>';

        jQuery.ajax({
            type: "POST",
            url: "/sales_report",
            data: "product_id=" + product_id + "&date=" + date,
            beforeSend: function () {
                jQuery("#report").html("Loading....");
            },
            success: function (result) {
                console.log(result)
                var html = "<table class='table table-bordered table-striped'>";
                html += "<thead><tr>";
                html += "<th>Item</th>";
                html += "<th>Opening</th>";
                html += "<th>Add</th>";
                html += "<th>Current stock</th>";
                html += "<th>Closing</th>";
                html += "<th>Damages</th>";
                html += "<th>Complementary</th>";
                html += "<th>Difference</th>";
                html += "<th>Price</th>";
                html += "<th>Total sales</th>";
                html += "</tr></thead>";
                html += "<tbody>";

                var grand_total = 0
                for (var productID in result){
                    var opening_stock = result[productID]["opening_stock"];
                    var added_stock = result[productID]["added_stock"];
                    var current_stock = result[productID]["current_stock"];
                    var closing_stock = result[productID]["closing_stock"];
                    var damaged_stock = result[productID]["damaged_stock"];
                    var complementary_stock = result[productID]["complementary_stock"];
                    var difference = result[productID]["difference"];
                    var current_price = result[productID]["current_price"];
                    var total_sales = result[productID]["total_sales"];
                    var product_name = result[productID]["product_name"];
                    grand_total = grand_total + total_sales;
                    html += "<tr>";
                    html += "<td>" + product_name + "</td>";
                    html += "<td>" + opening_stock + "</td>";
                    html += "<td>" + added_stock + "</td>";
                    html += "<td>" + current_stock + "</td>";
                    html += "<td>" + closing_stock + "</td>";
                    html += "<td>" + damaged_stock + "</td>";
                    html += "<td>" + complementary_stock + "</td>";
                    html += "<td>" + difference + "</td>";
                    html += "<td> MWK " + formatMoney(current_price) + "</td>";
                    html += "<td><span class='pull-right'> MWK " + formatMoney(total_sales) + "</span></td>";
                    html += "</tr>"

                }

                html += "</tbody>";
                html += "</table>";

                html += "<table class='table table-bordered table-striped'>";
                html += "<tr>";
                html += "<th>Grand total</th>";
                html += "<th><span class='pull-right'> MWK " + formatMoney(grand_total) + "</span></th>";
                html += "</tr>";
                html += "</table>";

                jQuery("#report").html(html);
                jQuery("#report").append(downloadButton)

            }

        });
    }

</script>