<div class="panel panel-default">
  <div class="panel-body" style="background-color: lightyellow">
    <form action="#" role="form" class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-lg-3">Products</label>

        <div class="col-lg-7">
          <select id="product_id" name="product_id" class="form-control" tabindex="8">
            <option value="all">All</option>
            <% @products.each do |product| %>
              <option id="<%= product.product_id %>" value="<%= product.product_id %>"><%= product.name %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-3" for="start_date">Date</label>
        <div class="col-lg-7">
          <input type="text" name="date" class="form-control datepicker" placeholder="Date" id="date"/>
        </div>
      </div>

      <!--<div class="form-group">
        <label class="control-label col-lg-3" for="start_date">Start date</label>
        <div class="col-lg-7">
          <input type="text" name="start_date" class="form-control datepicker" placeholder="Start date" id="start_date"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-3" for="start_date">End date</label>
        <div class="col-lg-7">
          <input type="text" name="end_date" class="form-control datepicker" placeholder="Start date" id="end_date"/>
        </div>
      </div>-->


      <div class="form-group">
        <label class="control-label col-lg-3" for="">&nbsp;</label>
        <div class="col-lg-7">
          <input onclick="loadReport()" class="btn btn-primary" value="Generate Report"/>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body" id="report">

  </div>

</div>

<script type="text/javascript">


    window.onload = function () {
        $(".datepicker").datepicker({
            uiLibrary: 'bootstrap',
            format: 'dd/mm/yyyy',
            startDate: '-3d',
            todayHighLight: true
        });
    };

    function downloadPDFReport() {
        var product_id = document.getElementById("product_id").value;
        var date = document.getElementById("date").value;
        window.location = "/print_sales_report_printable?product_id=" + product_id + "&date=" + date
    }

    function loadReport() {
        var product_id = document.getElementById("product_id").value;
        var date = document.getElementById("date").value;

        var downloadButton = '<button onclick="downloadPDFReport();" class="btn btn-primary"><i class="fa fa-download"></i> Download pdf</button>';

        jQuery.ajax({
            type: "POST",
            url: "/sales_report",
            data: "product_id=" + product_id + "&date=" + date,
            beforeSend: function () {
                jQuery("#report").html("Loading....");
            },
            success: function (result) {
                console.log(result);
                var stock_card = result["stock_card"];
                var debtors = result["debtors"];
                var total_debts = result["total_debts"];
                var stats = result["stats"];


                var html = "<table class='table table-bordered table-striped'>";
                html += "<thead><tr>";
                html += "<th>Item</th>";
                html += "<th>Opening</th>";
                html += "<th>Add</th>";
                html += "<th>Current stock</th>";
                html += "<th>Closing</th>";
                html += "<th>Damages</th>";
                html += "<th>Complementary</th>";
                html += "<th>Difference</th>";
                html += "<th>Price</th>";
                html += "<th>Total sales</th>";
                html += "</tr></thead>";
                html += "<tbody>";

                var grand_total = 0;
                for (var productID in stock_card) {
                    var opening_stock = stock_card[productID]["opening_stock"];
                    var added_stock = stock_card[productID]["added_stock"];
                    var current_stock = stock_card[productID]["current_stock"];
                    var closing_stock = stock_card[productID]["closing_stock"];
                    var damaged_stock = stock_card[productID]["damaged_stock"];
                    var complementary_stock = stock_card[productID]["complementary_stock"];
                    var difference = stock_card[productID]["difference"];
                    var current_price = stock_card[productID]["current_price"];
                    var total_sales = stock_card[productID]["total_sales"];
                    var product_name = stock_card[productID]["product_name"];
                    grand_total = grand_total + total_sales;
                    html += "<tr>";
                    html += "<td>" + product_name + "</td>";
                    html += "<td>" + opening_stock + "</td>";
                    html += "<td>" + added_stock + "</td>";
                    html += "<td>" + current_stock + "</td>";
                    html += "<td>" + closing_stock + "</td>";
                    html += "<td>" + damaged_stock + "</td>";
                    html += "<td>" + complementary_stock + "</td>";
                    html += "<td>" + difference + "</td>";
                    html += "<td> MWK " + formatMoney(current_price) + "</td>";
                    html += "<td><span class='pull-right'> MWK " + formatMoney(total_sales) + "</span></td>";
                    html += "</tr>"
                }

                html += "</tbody>";
                html += "</table>";

                html += "<table class='table table-bordered table-striped'>";
                html += "<tr>";
                html += "<th>Grand total</th>";
                html += "<th><span class='pull-right'> MWK " + formatMoney(grand_total) + "</span></th>";
                html += "</tr>";
                html += "</table>";

                jQuery("#report").html(html);

                var debtors_html = "<table class='table table-bordered table-striped'>";
                debtors_html += "<thead>";
                debtors_html += "<tr><td colspan='4' style='text-align: center; font-weight: bold'>Debtors</td></tr>";
                debtors_html += "<tr>";
                debtors_html += "<th>Name</th>";
                debtors_html += "<th>Amount owed</th>";
                debtors_html += "<th>Amount paid</th>";
                debtors_html += "<th>Balance Due</th>";
                debtors_html += "</tr></thead>";
                debtors_html += "<tbody>";

                for (var debtorID in debtors) {
                    var name = debtors[debtorID]["name"];
                    var amount_owed = debtors[debtorID]["amount_owed"];
                    var amount_paid = debtors[debtorID]["amount_paid"];
                    var balance_due = debtors[debtorID]["balance_due"];

                    debtors_html += "<tr>";
                    debtors_html += "<td>" + name + "</td>";
                    debtors_html += "<td><span class='pull-right'> MWK " + formatMoney(amount_owed) + "</span></td>";
                    debtors_html += "<td><span class='pull-right'> MWK " + formatMoney(amount_paid) + "</span></td>";
                    debtors_html += "<td><span class='pull-right'> MWK " + formatMoney(balance_due) + "</span></td>";

                    debtors_html += "</tr>"
                }

                debtors_html += "</tbody>";
                debtors_html += "</table>";

                jQuery("#report").append(debtors_html);


                var summary_html = "<table class='table table-bordered table-striped'>";
                summary_html += "<thead>";
                summary_html += "<tr><td colspan='2' style='text-align: center; font-weight: bold'>Summary</td></tr>";
                summary_html += "</tr></thead>";
                summary_html += "<tbody>";

                var complementary_total = stats["complementary_total"];
                var total_sales = stats["total_sales"];
                var damages_total = stats["damages_total"];

                summary_html += "<tr>";
                summary_html += "<td> Complementary</td>";
                summary_html += "<td><span class='pull-right'> MWK " + formatMoney(complementary_total) + "</span></td>";
                summary_html += "</tr>";

                summary_html += "<tr>";
                summary_html += "<td> Damages</td>";
                summary_html += "<td><span class='pull-right'> MWK " + formatMoney(damages_total) + "</span></td>";
                summary_html += "</tr>";

                summary_html += "<tr>";
                summary_html += "<td> Total sales </td>";
                summary_html += "<td><span class='pull-right'> MWK " + formatMoney(total_sales) + "</span></td>";
                summary_html += "</tr>";

                summary_html += "<tr>";
                summary_html += "<td> Debtors </td>";
                summary_html += "<td><span class='pull-right'> MWK " + formatMoney(total_debts) + "</span></td>";
                summary_html += "</tr>";

                summary_html += "<tr>";
                summary_html += "<td> Cash at hand </td>";
                summary_html += "<td><span class='pull-right'> MWK " + formatMoney((total_sales - total_debts)) + "</span></td>";
                summary_html += "</tr>";

                summary_html += "</tbody>";
                summary_html += "</table>";

                jQuery("#report").append(summary_html);
                jQuery("#report").append(downloadButton);

            }

        });
    }

</script>